:root {
    --main-color: #f5f5f5;
    --black-color: #000000;
    --border: 0.1rem solid rgba(255,255,255,0.4);
    --box-color: #a14fc4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2 ease;
    vertical-align: inherit;;
}
/*! base html codes */
html{
font-size: 62.5%; /*! 1rem= 10px (normally 16px)*/
overflow-x: hidden;
scroll-padding-top: 9rem;
scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: var(--main-color);
}

html::-webkit-scrollbar-thumb{
    border-radius: 3rem;
    background-color: var(--black-color);
}

body{
    background-color: var(--main-color);
}



section{
    padding: 3.5rem 7%;
}

a{
    text-decoration: none;
}

.generally-button{
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.8rem;
    color: #F5F5DC;
    background-color: var(--black-color);
    cursor: pointer;
    font-style:inherit;
    
}
.generally-button:hover{
   opacity: 0.6; 
}

.heading{
    color: var(--black-color);
    text-transform: uppercase; 
    font-size: 4rem;
    margin-bottom: 3.5rem;
}

/*! header start */

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.header .logo img {
    max-width: 100px;
    height: auto;
}

.header{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4.2rem;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.75);
    position: sticky; 
    top: 1.5rem; 
    z-index: 1000; 

}
.header .navbar {
    justify-content: flex-end; /* Ensure items are aligned to the right */
    margin-left: auto; /* Push the navbar items to the right */
}

.header .navbar.active {
    position: fixed; /* Fixed position */
    top: 50%;
    left: 50%;
    width: 80vw; /* 80% of the viewport width */
    height: 80vh; /* 80% of the viewport height */
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%); /* Center it */
    opacity: 1; /* Make it visible */
    pointer-events: auto; /* Enable interaction */
    z-index: 1001; /* Ensure it is above other content */
    text-align: center; /* Center align text */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 1rem; /* Optional: padding for inner content */
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .location,
.header .navbar a:hover {
    border-color: var(--box-color);
    padding-bottom: 0.5rem;
    margin-left: 0;
}

.header #bars{
    display: none;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--black-color);
}
/*! header end */

/*! home start */

.home {
    height: 100vh;
    padding: 3.5rem 0;
    background-size: cover;
    background-position: center; 
    margin-top: -8.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.carousel .slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.carousel .slides > * {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    pointer-events: none;
}

.carousel .nav-buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel .nav-buttons button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel .nav-buttons button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-text img {
    width: 100%;
    max-width: 600px;
    height: auto;
    transition: transform 0.3s ease;
}

.welcome-text img:hover {
    transform: scale(1.05);
}

/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.welcome-text {
    animation: fadeIn 1s ease-in-out; /* Fade-in effect */
}

/*! home end */


/*! about start */
.about .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.about .row .image {
    flex: 1 1 30rem;
}

.about .row img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h4 {
    font-size: 3rem;
    color: #a14fc4;
    display: inline; /* Başlık yanına metni hizalamak için inline */
    margin-right: 5px; 
}

.about .row .content p {
    font-size: 1.9rem;
    color: var(--black-color);
    padding: 1rem 0;
    line-height: 1.2;
}

.content {
    padding: 20px;
    text-align: center;
}

/*! about end */


/*! services start */

.services .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.services .row .image {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.services .row .image img {
    width: 100%;
    max-width: 150px;
    height: 195px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.services .row .image img:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.services .row .content {
    flex: 1 1 50%;
    padding: 20px;
    text-align: left;
}

.services .row .content p {
    font-size: 1.6rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.services .row .services-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.services .row .services-list li {
    font-size: 1.6rem;
    color: #333;
    margin: 10px 0;
    padding: 13px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.services .row .services-list li:hover {
    background-color: #f0f0f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*! services end */

/* shot start */

.shot-section .container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.video-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-bottom: 15px;
}

.video-item video {
    width: 100%;
    height: auto;
    display: block;
}

/* Hover efektleri */
.video-item:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

/* Responsive tasarım */
@media (max-width: 1200px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr); /* Daha küçük ekranlarda 3 sütun olacak şekilde */
    }
}

@media (max-width: 768px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr); /* Daha küçük ekranlarda 2 sütun olacak şekilde */
    }
}

@media (max-width: 480px) {
    .video-grid {
        grid-template-columns: 3fr; /* En küçük ekranlarda tek sütun olacak şekilde */
    }
}

/* shot end */


/*! contact start */

.contact .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns of equal width */
    gap: 20px; /* Space between the columns */
    align-items: start; /* Align items at the top of the grid cells */
}

.map-container {
    max-width: 100%; /* Ensure the map container does not exceed the width of its parent */
    width: 100%; /* Ensure it takes full width within the grid cell */
    height: 0; /* Set height to 0 for responsive aspect ratio */
    padding-bottom: 56.25%; /* Maintain a 16:9 aspect ratio (560 / 450 * 100) */
    position: relative; /* Position relative to use absolute positioning inside */
}

.map-container iframe {
    position: absolute; /* Absolute positioning for the iframe */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.contact-info {
    padding: 20px;
    background-color: var(--main-color);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #333;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-sizing: border-box; /* Include padding in the element's total width and height */
    height: auto; /* Allow height to adjust automatically */
}

.contact-info h3 {
    font-size: 2rem;
    color: var(--black-color);
    margin: 0;
    text-align: center;
    font-weight: 700;
    position: relative;
}

.contact-info h3::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: var(--box-color);
    margin: 10px auto 0;
    border-radius: 2px;
}

.contact-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--main-color);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    width: 100%;
    gap: 10px;
}

.contact-item:hover {
    background-color: var(--main-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
}

.contact-item i {
    font-size: 1.8rem; 
    color: var(--box-color); 
    margin-right: 10px; 
}

.contact-item div {
    font-size: 1rem; 
    color: #333;
}
.contact-item strong {
    display: block;
    font-weight: 600;
    margin-bottom: 2px;
    color: var(--box-color);
    font-size: 1.3rem;
}
.contact-info a {
    color: black;
    font-size: 1.5rem;
}
.contact-info a:hover {
    color: black; 
}
/* Responsive Design */
@media (max-width: 768px) {
    .contact .row {
        grid-template-columns: 1fr; /* Single column on small screens */
        gap: 20px; /* Ensure space between rows */
    }

    .map-container,
    .contact-info {
        width: 100%; /* Ensure full width within grid cell */
    }

    .contact-info {
        padding: 15px; /* Reduce padding on small screens */
        gap: 10px; /* Reduce gap between elements */
    }
    
    .contact-item {
        flex-direction: column; /* Stack icon and text vertically */
        align-items: flex-start; /* Align items to the start */
    }
    
    .contact-item i {
        margin-right: 0;
        margin-bottom: 10px; /* Space below the icon */
    }
}

@media (max-width: 480px) {
    .contact-info h3 {
        font-size: 1.6rem; /* Further reduce font size on very small screens */
    }

    .contact-item {
        padding: 8px; /* Further reduce padding */
    }

    .contact-item i {
        font-size: 1.5rem; /* Further reduce icon size */
    }

    .contact-item div {
        font-size: 1.3rem; /* Further reduce font size */
    }

    .contact-item strong {
        font-size: 1.2rem; /* Further reduce font size */
    }

    .contact-info a {
        font-size: 1.3rem; /* Further reduce font size */
    }
}
/*! contact end */

/*! footer start */
.footer{
    background-color: #292929;
    text-align: center;
    padding-bottom: 1rem;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: var(--box-color);
    font-size: 2rem;
    border: var(--border);
    border-radius: 50%;
    margin: 0.3rem;
}

.footer .share a:hover{
    background-color: var(--main-color);
}

/*! footer end */

/*! responsive start */
 @media(max-width:991px){
    html{
        font-size: 55%;
    }

    .header{
        padding: 1.5rem 2rem;
    }

    .header .logo{
        height: 7rem;
    }
    
    section{
        padding: 2rem;
    }
}

 @media(max-width:768px){
   .header #bars{
        display: inline-block;;
    }

    .header .navbar {
        position: absolute;
        top: 95%;
        background-color: var(--main-color);
        height: auto;
        width: 25rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 /75%);
        text-align: center;
        right: 0; /* Keep it within the viewport */
        opacity: 0; /* Make it invisible */
        pointer-events: none; /* Prevent interaction when hidden */
    }

    .header .navbar.location{
        right: 3rem;
    }

    .header .navbar a{
        color: var(--black-color);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }    
 }

    @media(max-width: 576px){
        html{
            font-size: 50%;
        }
}
/*! responsive end */
